@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --zinc-50: #fafafa;
  --zinc-100:#f4f4f5;
  --zinc-200:#e4e4e7;
  --zinc-300:#d4d4d8;
  --zinc-400:#a1a1aa;
  --zinc-500:#71717a;
  --zinc-600:#52525b;
  --zinc-700:#3f3f46;
  --zinc-800:#27272a;
  --zinc-900:#18181b;
  --zinc-950:#09090b;
}
.dark-theme {
  --zinc-50: #09090b;
  --zinc-100:#18181b;
  --zinc-200:#27272a;
  --zinc-300:#3f3f46;
  --zinc-400:#52525b;
  --zinc-500:#71717a;
  --zinc-600:#a1a1aa;
  --zinc-700:#d4d4d8;
  --zinc-800:#e4e4e7;
  --zinc-900:#f4f4f5;
  --zinc-950:#fafafa;
}
body {
  color: var(--zinc-950);
  background: var(--zinc-50);
}
@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}
